<!-- stylesheet for home page -->
<link rel="stylesheet" href="/css/home.css" />

<div id="home-container">
  <section id="feed-posts">
    <!-- heading -->
    <h4>Posts</h4>

    <!-- form to create posts for user -->
    <% if (locals.user){%>
    <!-- Creating a post -->
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea
        name="content"
        cols="30"
        rows="3"
        placeholder="Type Here..."
      ></textarea>
      <input type="submit" value="Post" />
    </form>
    <%}%>

    <!-- Displaying all the posts -->
    <div id="posts-list-container">
      <ul>
        <% for(post of posts){ %>
                        
          <%- include('_posts') -%>
              
          <%} %>
      </ul>
    </div>
  </section>

  <section id="user-list-container">
    <!-- heading -->
    <h4>Friends</h4>
    <!-- List all the users present in DB -->
    <ul>
      <% for (let user of all_users) { %>
      <li id="user-item">
        <p><a href="users/profile/<%= user.id %>"><%= user.name%></a></p>
      </li>
      <% } %>
    </ul>
  </section>
</div>

<script src="/js/home_posts.js"></script>
<script src="/js/home_comments.js"></script>
