<h1>Reset your password</h1>
<% if (isLoggedIn) { %>
<!-- show note that email with link to reset your password in sent -->
<p>
  Check your email for a link to reset your password. If it doesn’t appear
  within a few minutes, check your spam folder.
  <a href="/users/sign-in">Sign in</a>
</p>
<% } else {%>
<!-- show form to provide user email id -->
<form action="/users/auth/verify_user" method="POST">
  <input type="email" name="email" placeholder="Email" required />
  <input type="submit" value="Sign In" />
</form>
<%}%>
