<h1><%= title%></h1>

<form action="/users/createSession" method="POST">
  <input type="email" name="EmailId" placeholder="Email" required />
  <input type="password" name="Password" placeholder="Password" required />
  <input type="submit" value="Sign up!" />
</form>
