#home-container {
  display: flex;
}

#home-container #feed-posts {
  width: 70%;
  height: 100%;
  padding: 10px;
}

#home-container #user-list-container {
  width: 30%;
  height: 100vh;
  border: 1px solid gray;
}
