* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background: url(../images/Moon_06.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#signUpFormContainer {
  width: 400px;  
 /* border: 2px dotted gray; */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  color: white;
  font-family: sans-serif;
}

#inputTextArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid gray;
  border-radius: 10px; */
}

.inputText {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.inputTextForTerms {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  position: absolute;
  left: 50px;
}

#TermsAndConditions{
  margin: 0px 10px;
}

.inputText input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 0px 20px;
}

.inputText label {
  padding: 6px 20px;
}

#formHeader {
  /* border: 2px solid gray;
  border-radius: 10px; */
  text-align: center;
}

#formFooter {
  /* border: 2px solid gray;
  border-radius: 10px; */
  display: flex;
  flex-direction: column;
  position: relative;
}

#formFooter button {
  height: 30px;
  width: 125px;
  background-color: green;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: 140px;
}
